{% extends "base.html" %}
{% load jsonify %}
{% block content %}
  <div class="container">
    <div class="row">
  <div class="col-md-12">
    <h1>Model data</h1>
    <form role="form" method="POST">
    {% csrf_token %}
    {{ form }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <h1>Update history</h1>
    {% for h in history %}
    <div class="one-line" style="margin-bottom: 10px; border-bottom: 1px solid black; padding-bottom:10px;">
      <span>{{ h.id}}</span> - <span>{{h.status}}</span> - <span> {{h.created_on}}</span>
      <br>
      {% autoescape off %}
      {{h.fields | jsonify }}
      {% endautoescape %}
      <br>
      <button>Activate</button><button>Cancel</button>
    </div>
    {% endfor %}
</form>
  </div>
</div>
  </div>
{% endblock %}
